* {
    font-family: "Ubuntu", sans-serif;
    color: rgb(192, 192, 192);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 515px) {
    #logo {
        display: none;
    }
}

body {
    background-color: whitesmoke;
}

.logo a {
    color: white;
    position: relative;
    top: 0.5rem;
    font-size: 1.171875rem;
    text-decoration: none;
    z-index: 999;
}

.link {
    color: red;
    text-decoration: none;
}

.link:hover {
    color: firebrick;
}

.navigation_panel {
    background-color: red;
    height: 90px;
}

.btn-block {
    position: relative;
    float: right;
    top: 1.5rem;
    right: 2.1rem;
}

.first-btn:active,
.second-btn:active,
.third-btn:active {
    top: 1px;
    box-shadow: none;
}

.first-btn:hover,
.second-btn:hover,
.third-btn:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.first-btn,
.second-btn,
.third-btn {
    position: relative;
    top: -.4rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .4em 1em;
    outline: none;
    background-color: red;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 100% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
    text-transform: uppercase;
}

.nav {
    position: relative;
    float: right;
    right: 1rem;
    top: -1.8rem;
}

.main--main-bg {
    color: red;
}

.intro__btn {
    background-color: transparent;
    position: relative;
    right: -85rem;
    bottom: 45.5rem;
}

h2,
.h2 {
    font-size: 2.5rem;
}

.text-justify {
    text-align: justify !important;
}

.main {
    margin: 10px;
    min-height: 100%;
    min-height: 83.1078vh;
    flex-grow: 1;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-weight: 400;
    line-height: 1.5;
    max-width: auto;
    min-width: auto;
}

.footer {
    position: relative;
    bottom: -.5rem;
    height: 50px;
    width: 100%;
    background-color: #303030;
}

.current_data {
    position: relative;
    top: 0.5rem;
    padding-left: .5rem;
}

.github_link a {
    position: relative;
    float: right;
    padding-right: .5rem;
    bottom: 1rem;
}

.invisible {
    display: none;
}
